.advantages {
  background-color: var(--secondary-bcg-color);
  padding-bottom: 36px;
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  .advantages {
    padding-bottom: 85px;
    padding-top: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-bottom: 50px;
  }
}

.advantages-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-direction: unset;
    flex-wrap: wrap;
    gap: 60px;
    row-gap: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-list {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.advantages-list-item {
  max-width: 308px;
}

@media screen and (min-width: 1200px) {
  .advantages-list-item {
    position: relative;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-container::before {
    position: absolute;
    display: flex;
    top: 60px;
    right: -18px;
    width: 0px;
    height: 124px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    content: '';
  }
}

.advantages-container-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
}

.advantages-svg {
  fill: var(--brand-color);
}

.advantages-titles {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--main-white-color);
  margin-top: 22px;
}

.advantages-text {
  font-size: 14px;
  line-height: 1.21;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 18px;
}
