.advantages {
  background-color: var(--secondary-bcg-color);
  padding-bottom: 36px;
}

.advantages-titles {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--main-white-color);
  margin-bottom: 18px;
}

.advantages-text {
  font-size: 14px;
  line-height: 1.21;
  color: rgba(255, 255, 255, 0.7);
}

.advantages-list-item {
  width: 308px;
}

.advantages-list .item:not(:last-child) {
  margin-bottom: 38px;
}
