.backdrop-subskribe-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bcg-color);
}

.subskribe-modal-section {
  width: 311px;
  height: 350px;
  border-radius: 15px;
  background-color: var(--main-bcg-color);
  position: relative;
}

.subskribe-modal-section-button-close {
  position: absolute;
  border-color: transparent;
  background-color: transparent;
}

.subskribe-modal-section-icon {
  width: 24px;
  height: 24px;
  color: var();
}
