.title.review {
  margin: 0;
  text-align: left;
}

.review-close {
  width: 24px;
  height: 24px;
}

.button {
  position: absolute;
  top: 15px;
  right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  stroke: currentColor;
}

@media (min-width: 768px) {
  .button {
    top: 21px;
    right: 21px;
  }
}

.modal-review {
  min-width: 312px;
  height: 470px;
  max-height: 90vh;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-bcg-color);
  border-radius: 15px;
  z-index: 50;

  overflow-y: hidden;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-review.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

@media (min-width: 768px) {
  .modal-review {
    min-width: 518px;
    height: 630px;
    padding: 40px;
  }
}

.form-review {
  margin-top: 32px;
}

@media (min-width: 768px) {
  .form-review {
    margin-top: 40px;
  }
}

.review-input {
  max-height: 45px;
  padding-top: 14px;
  padding-right: 18px;
  padding-bottom: 14px;
  padding-left: 18px;
  border: 1.5px solid var(--border-color);
  border-radius: 13px;
  outline: none;
  width: 100%;
  background-color: var(--main-bsg-color);
}

@media (min-width: 768px) {
  .review-input {
    max-height: 66px;
    padding-top: 22px;
    padding-right: 24px;
    padding-bottom: 22px;
    padding-left: 24px;
  }
}

.review-input:not(:first-child) {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .review-input:not(:first-child) {
    margin-top: 18px;
  }
}

.form-field {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .form-field {
    margin-top: 18px;
  }
}

.form-field {
  position: relative;
}

.review-input.phone {
  padding-left: 106px;
  margin: 0;
  background-color: var(--main-bsg-color);
}
@media (min-width: 768px) {
  .review-input.phone {
    padding-left: 177px;
  }
}

.review-label {
  position: absolute;
  top: 14px;
  left: 50px;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  font-weight: 500;
}

@media (min-width: 768px) {
  .review-label {
    top: 24px;
    left: 74px;
    font-size: 18px;
    line-height: 1.22;
  }
}

.review-input::placeholder {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

@media (min-width: 768px) {
  .review-input::placeholder {
    font-size: 18px;
    line-height: 1.2;
    color: rgba(64, 64, 64, 0.3);
  }
}

.review-label::after {
  content: '';
  position: absolute;
  margin-left: 14px;
  display: inline-block;
  width: 2px;
  height: 20px;
  background-color: var(--border-color);
}

@media (min-width: 768px) {
  .review-label::after {
    margin-left: 32px;
  }
}

.form-flag {
  position: absolute;
  width: 24px;
  height: 17px;
  top: 14px;
  left: 18px;
}

@media (min-width: 768px) {
  .form-flag {
    top: 22px;
    left: 22px;
    width: 32px;
    height: 24px;
  }
}

.review-input.textarea {
  min-height: 91px;
  resize: none;
}

@media (min-width: 768px) {
  .review-input.textarea {
    min-height: 137px;
  }
}

.main-button.review {
  margin-top: 18px;
}
