.swiper {
  width: 335px;
  height: 440px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .swiper {
    padding-right: 0;
    width: 736px;
  }
}
@media screen and (min-width: 1200px) {
  .swiper {
    width: 1136px;
  }
}

.image-slider .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background: rgba(17, 17, 17, 0.553);
}
.image-slider .swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;
  border-radius: 32px;
  background: var(--brand-color);
}

.card-item {
  border: 1px solid var(--border-color);
  border-radius: 15px;
  background-color: var(--main-white-color);
}
.card-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--main-text-color);
}
.card-subtitle {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(17, 17, 17, 0.7);
}

.price-box {
  background-color: var(--main-bsg-color);
  border: 1px solid var(--border-color);
  border-radius: 100px;
}
/* PRICE */

.card-price {
  padding-top: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
}

/* КАРТОЧКА ПРОДУКТА */

.card-item {
  text-align: center;
  width: 335px;
}

@media (min-width: 768px) {
  .card-item {
    width: 270px;
  }
}

/* ЦЕНА ПРОДУКТА */
.price-box {
  width: 94px;
  height: 33px;
  margin: 0 auto;
  margin-top: 18px;
  margin-bottom: 32px;
}

/* КАРТИНКА ПРОДУКТА */
.product-img {
  margin: 0 auto;
  margin-top: 32px;
}

/* ЗАГОЛОВОК ПРОДУКТА */
.card-title {
  margin-top: 8px;
}
/* ТЕКСТ ПРОДУКТА */

.card-subtitle {
  margin-top: 2px;
}

@media (min-width: 768px) {
  .cards-list {
    display: flex;
    gap: 18px;
  }
}
.swiper-wrapper {
  margin-top: 32px;
}
