/* Unique components */

.uniqe-components {
  background-color: var(--modal-bcg-color);
}
.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: -0.03em;
  color: var(--main-text-color);
  text-align: center;
}

.title.orange {
  color: var(--brand-color);
}

.text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: var(--main-text-color);
  text-align: center;
}

.components-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  color: var(--main-text-color);
}

.components-name.light {
  color: var(--main-white-color);
}

.components-item.milk-chocolate {
  background-color: var(--brand-color);
}

.components-item.milk,
.components-item.corns {
  background-color: var(--main-white-color);
  border: 1px solid var(--brand-color);
}

.components-item.nuts {
  background-color: var(--secondary-bcg-color);
}
