.second-title {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .second-title {
    font-size: 24px;
    line-height: 1.17;
  }
}
