<div class="container-buynow">
  <h2 class="second-title"><span class="orange-title">buy</span> now</h2>

  <!-- Slider main container -->
  <div class="swiper image-slider">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="product-card">
          <img
            src="../images/buy_now/buy100.jpg"
            alt="100g"
            class="product-buy-img"
          />
          <span class="prod-weight">100g</span>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="product-card">
          <img
            src="../images/buy_now/buy200.jpg"
            alt="200g"
            class="product-buy-img"
          />
          <span class="prod-weight">200g</span>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="product-card">
          <img
            src="../images/buy_now/buy300.jpg"
            alt="300g"
            class="product-buy-img"
          />
          <span class="prod-weight">300g</span>
        </div>
      </div>
    </div>
    <!-- If we need pagination -->
    waeeee
    <div class="swiper-pagination"></div>
    <!-- If we need navigation buttons -->
    <!-- <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div> -->

    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
  </div>

  <ul class="list bynowlist">
    <li class="bynowlist-item">
      <div class="product-card">
        <img
          src="../images/buy_now/buy100.jpg"
          alt="100g"
          class="product-buy-img"
        />
        <span class="prod-weight">100g</span>
      </div>
    </li>
    <li class="bynowlist-item">
      <div class="product-card">
        <img
          src="../images/buy_now/buy200.jpg"
          alt="200g"
          class="product-buy-img"
        />
        <span class="prod-weight">200g</span>
      </div>
    </li>
    <li class="bynowlist-item">
      <div class="product-card">
        <img
          src="../images/buy_now/buy300.jpg"
          alt="300g"
          class="product-buy-img"
        />
        <span class="prod-weight">300g</span>
      </div>
    </li>
  </ul>

  <form action="" class="buynow-form">
    <div class="form-container">
      <div class="pers-inf">
        <p class="form-label">Personal information</p>
        <div class="pers-input">
          <input
            type="text"
            name="cust_name"
            placeholder="Name"
            required
            class="buynow-input"
          />
          <input
            type="text"
            name="cust_surname"
            placeholder="Surname"
            required
            class="buynow-input"
          />
        </div>
      </div>

      <label class="form-label">
        Email
        <input
          type="email"
          name="cust_email"
          placeholder="Enter your email"
          required
          class="buynow-input"
        />
      </label>
      <label class="form-label">
        Phone number
        <input
          type="tel"
          name="cust_phone"
          placeholder="Phone number"
          required
          class="buynow-input cust-phone"
        />
      </label>
      <label class="form-label">
        Card number
        <input
          type="text"
          name="cust_ccard"
          placeholder="Enter card"
          class="buynow-input"
        />
      </label>
      <label class="form-label">
        Comment
        <textarea
          name="comment"
          placeholder="Enter text"
          class="buynow-input comment"
        ></textarea>
      </label>
      <button type="submit" class="main-button buynow-btn">Submit</button>
    </div>
  </form>
</div>
