<div class="container-buynow">
  <h2 class="title-second"><span>buy</span> now</h2>
  <div class="product-card">
    <img src="" alt="" class="product-img" />
    <div class="prod-weight">
      <span>100g</span>
    </div>
  </div>
  <form action="" class="buynow-form">
    <p>Personal information</p>
    <input
      type="text"
      name="cust_name"
      placeholder="Name"
      required
      class="buynow-input"
    />
    <input
      type="text"
      name="cust_surname"
      placeholder="Surname"
      required
      class="buynow-input"
    />
    <label class="cust-email">
      Email
      <input
        type="email"
        name="cust_email"
        placeholder="Enter your email"
        required
        class="buynow-input"
      />
    </label>
    <label class="phone">
      Phone number
      <input
        type="tel"
        name="cust_phone"
        placeholder="Phone number"
        required
        class="buynow-input cust-phone"
      />
    </label>
    <label class="card-number">
      Card number
      <input
        type="text"
        name="cust_ccard"
        placeholder="Enter card"
        class="buynow-input"
      />
    </label>
    <label class="comment">
      Comment
      <textarea name="comment" placeholder="Enter text"></textarea>
    </label>
    <button type="submit" class="main-button">Submit</button>
  </form>
</div>
