<div class="container-buynow">
  <h2 class="second-title"><span class="orange-title">buy</span> now</h2>
  <div class="product-card">
    <img src="../images/buy_now/buy100.jpg" alt="100g" class="product-img" />
    <span class="prod-weight">100g</span>
  </div>
  <form action="" class="buynow-form">
    <div class="form-container">
      <div class="pers-inf">
        <p class="form-label">Personal information</p>
        <input
          type="text"
          name="cust_name"
          placeholder="Name"
          required
          class="buynow-input"
        />
        <input
          type="text"
          name="cust_surname"
          placeholder="Surname"
          required
          class="buynow-input surname"
        />
      </div>

      <label class="form-label">
        Email
        <input
          type="email"
          name="cust_email"
          placeholder="Enter your email"
          required
          class="buynow-input"
        />
      </label>
      <label class="form-label">
        Phone number
        <input
          type="tel"
          name="cust_phone"
          placeholder="Phone number"
          required
          class="buynow-input cust-phone"
        />
      </label>
      <label class="form-label">
        Card number
        <input
          type="text"
          name="cust_ccard"
          placeholder="Enter card"
          class="buynow-input"
        />
      </label>
      <label class="form-label">
        Comment
        <textarea
          name="comment"
          placeholder="Enter text"
          class="buynow-input comment"
        ></textarea>
      </label>
      <button type="submit" class="main-button buynow-btn">Submit</button>
    </div>
  </form>
</div>
