<footer class="section-footer">

  <p class="footer-paragraph">
    <span class="footer-paragraph-orange">Chocolate</span>
    a delicious cure for a bad day
  </p>

  <h4 class="footer-title">Contact us</h4>

  <address>

    <ul class="list">

      <li><a class="address-link link" href="tel:+380684439426">+380 (68) 443-94-26</a></li>

      <li><a class=" address-link link" href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a></li>

    </ul>

  </address>

  <nav>

    <ul class="list">

      <li>
        <a class="nav-link-footer link" href="">Home</a>
      </li>

      <li>
        <a class="nav-link-footer link" href="">How it’s made?</a>
      </li>

      <li>
        <a class="nav-link-footer link" href="">Our products</a>
      </li>

      <li>
        <a class="nav-link-footer link" href="">Top sellers</a>
      </li>

      <li>
        <a class="nav-link-footer link" href="">Chocolate is loved</a>
      </li>

    </ul>

  </nav>


</footer>