<header>

  <div>

    <nav>

      <a class="header-logo logo-first link" href="#">SIMPLY
        <span class="header-logo logo-second">CHOCOLATE</span>
      </a>

      <ul class="list">

        <li>
          <a class="nav-link link" href="">Home</a>
        </li>

        <li>
          <a class="nav-link link" href="">How it’s made?</a>
        </li>

        <li>
          <a class="nav-link link" href="">Our products</a>
        </li>

        <li>
          <a class="nav-link link" href="">Top sellers</a>
        </li>

        <li>
          <a class="nav-link link" href="">Chocolate is loved</a>
        </li>

      </ul>

    </nav>

  </div>

</header>