<section class="hero">
  <div class="container hero-container">
    <h2 class="visually-hidden">hero</h2>
    <h3 class="hero-subtitle">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h3>
    <div class="hero-btn-container">
      <div class="hero-btn">
        <button class="main-button buy-btn">Buy now</button>
        <a class="main-button how-made-btn">How it&#39;s made</a>
      </div>
      <div class="scroll-wrapper">
        <a href="#" class="link scroll-btn">
          scroll down
          <div class="arrow-container">
            <svg class="svg-scroll-btn" width="16" height="16">
              <use href="../images/icons.svg#icon-arrow-down"></use>
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
