<section class="hero">
  <div class="container">
    <h2 hidden>hero</h2>
    <h3 class="hero-subtitle">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h3>
    <div>
      <button class="buy-btn">Buy now</button>
      <button class="how-made-btn">How it’s made</button>
    </div>
    <button class="scroll-btn">
      scroll down
      <svg width="28" height="28" class="svg-scroll-btn">
        <use href="../images/icons.svg#icon-arrow-down"></use>
      </svg>
    </button>
  </div>
</section>
