<section class="hero" id="home">
  <div class="container hero-container">
    <h2 class="visually-hidden">hero</h2>
    <h3 class="hero-subtitle">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h3>
    <div class="hero-btn-container">
      <div class="hero-btn">
        <button class="js-open-modal main-button buy-btn" data-modal="1">
          Buy now
        </button>
        <a class="main-button how-made-btn">How it&#39;s made</a>
      </div>
      <div class="scroll-wrapper">
        <a href="#sub" class="link scroll-btn">
          scroll down
          <div class="arrow-container">
            <svg
              class="svg-scroll-btn animate__animated animate__infinite animate__slower up-button__icon"
              width="16"
              height="16"
            >
              <use href="./images/icons.svg#icon-arrow-down"></use>
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
