<section>
  <div class="container">
    <h2 class="about-project-title">
      HOW IT’S <span class="about-project-title-item">MADE?</span>
    </h2>
    <img
      class="about-project-img"
      src="../images/how it’s made/video-cover-mobile.jpg"
      srcset="../images/how it’s made/video-cover-mobile.jpg 1x, ../images/how it’s made/video-cover-mobile@2x.jpg 2x"
      alt="video-cover"
    />
    <h3 class="about-project-subtitle">
      Try our chocolates today and discover the perfect balance of flavor
    </h3>
    <ul class="about-project-list">
      <li class="about-project-list-item">
        <p class="about-project-list-text">
          Heat the milk in a saucepan without bringing it to a boil. Add sugar
          and cocoa powder.
        </p>
      </li>
      <li class="about-project-list-item">
        <p class="about-project-list-text">
          At the same time, prepare a water bath. Melt the butter on it.
        </p>
      </li>
      <li class="about-project-list-item">
        <p class="about-project-list-text">
          "Mix" the milk mixture and already liquid butter. Mix thoroughly with
          a silicone spatula so that the mass becomes uniform and silky.
        </p>
      </li>
      <li class="about-project-list-item">
        <p class="about-project-list-text">
          Heat the mixture over low heat, letting it barely boil.
        </p>
      </li>
      <li class="about-project-list-item">
        <p class="about-project-list-text">
          Pour the chocolate into special containers (can be replaced with ice
          molds). Allow to cool and harden.
        </p>
      </li>
    </ul>
  </div>
</section>
