<!--  Modal leave a review  -->
  <div class="backdrop-review is-hidden">
    <div class="modal-review">
      <h2 class="title review">
        LEAVE A REVIEW ABOUT <span class="title orange">OUR CHOCOLATE</span>
      </h2>
      <button class="button">
        <svg class="review-close">
          <use
            href="../images/icons.svg#icon-close"
            width="24" height="24"
          ></use>
        </svg>
      </button>
      <form autocomplete="off" validate>
      <div class="form-review">
        <input
          class="review-input"
          type="text"
          name="name"
          placeholder="Name"
          required
          pattern="^[a-zA-Z]+\s[a-zA-Z]+$" title="Username must be two words separated by space."
        />
        <input
          class="review-input"
          type="email"
          name="email"
          placeholder="Email"
          required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        />
        <div class="form-field">
          <svg class="form-flag">
            <use href="../images/icons.svg#flag" ></use>
          </svg>
          <label class="review-label" for="tel">+380</label>
          <input
            class="review-input phone"
            type="tel"
            name="tel"
            id="tel"
            placeholder="Phone number"
            required
            maxlength="9"
            pattern="[0-9]{9}"
            title="Phone must be nine digits after +380."
          />
        </div>

        <textarea
          class="review-input textarea"
          name="text"
          id="text"
          placeholder="Enter text"
        ></textarea>
        <button class="main-button review">Send</button>
      </div>
    </div>
  </div>
</form>
