<section class="product-section">
  <div class="product-container container">
    <h2 class="products-title">Our <span class="orange">Products</span></h2>
    <div class="test">
      <ul class="cards-list list">
        <li>
          <div class="card-item">
            <img class="product-img"
              src="../images/our_products/orange.jpg"
              alt="chocolate_orange"
              width="230"
              height="201"
            />
            <h3 class="card-title">orange</h3>
            <p class="card-subtitle">Dark Chocolate</p>
            <div class="price-box"><p class="card-price">45 UAH</p></div>
          </div>
        </li>
        <li>
          <div class="card-item">
            <img class="product-img" 
              src="../images/our_products/apple.jpg"
              alt="chocolate_apple"
              width="230"
              height="201"
            />
            <h3 class="card-title">apple&cranberry</h3>
            <p class="card-subtitle">Dark chocolate</p>
            <div class="price-box"><p class="card-price">50 UAH</p></div>
          </div>
        </li>
        <li>
          <div class="card-item">
            <img class="product-img"
              src="../images/our_products/lime.jpg"
              alt="chocolate_"
              width="230"
              height="201"
            />
            <h3 class="card-title">lime&salt</h3>
            <p class="card-subtitle">Dark chocolate</p>
            <div class="price-box"><p class="card-price">66 UAH</p></div>
          </div>
        </li>
        <li>
          <div class="card-item">
            <img class="product-img"
              src="../images/our_products/pineapple.jpg"
              alt="chocolate_"
              width="230"
              height="201"
            />
            <h3 class="card-title">pineapple</h3>
            <p class="card-subtitle">Dark chocolate</p>
            <div class="price-box"><p class="card-price">54 UAH</p></div>
          </div>
        </li>
        <li>
          <div class="card-item">
            <img class="product-img"
              src="../images/our_products/classic.jpg"
              alt="chocolate_"
              width="230"
              height="201"
            />
            <h3 class="card-title">classic</h3>
            <p class="card-subtitle">Milk chocolate</p>
            <div class="price-box"><p class="card-price">45 UAH</p></div>
          </div>
        </li>
        <li>
          <div class="card-item">
            <img class="product-img"
              src="../images/our_products/honey.jpg"
              alt="chocolate_"
              width="230"
              height="201"
            />
            <h3 class="card-title">honey</h3>
            <p class="card-subtitle">Milk chocolate</p>
            <div class="price-box"><p class="card-price">50 UAH</p></div>
          </div>
        </li>
        <li>
          <div class="card-item">
            <img class="product-img"
              src="../images/our_products/fruits.jpg"
              alt="chocolate_"
              width="230"
              height="201"
            />
            <h3 class="card-title">roadster fruits</h3>
            <p class="card-subtitle">Dark chocolate</p>
            <div class="price-box"><p class="card-price">66 UAH</p></div>
          </div>
        </li>
        <li>
          <div class="card-item">
            <img class="product-img"
              src="../images/our_products/classic.jpg"
              alt="chocolate_"
              width="230"
              height="201"
            />
            <h3 class="card-title">classic</h3>
            <p class="card-subtitle">white chocolate</p>
            <div class="price-box"><p class="card-price">54 UAH</p></div>
          </div>
        </li>
      </ul>
    </div>
   
  </div>
</section>
