<section class="section-padding" id="reviews">
  <div class="container reviews">
    <h2 class="visually-hidden">Reviews</h2>
    <p class="section-reviews-title">
      <span class="reviews-title-item">chocolate </span>is loved
    </p>
    <ul class="reviews-list list">
      <li class="reviews-card">
        <img
          class="reviews-images"
          srcset="
            ./images/reviews/victoria.jpg    1x,
            ./images/reviews/victoria@2x.jpg 2x
          "
          src="./images/reviews/victoria.jpg"
          alt="user photo"
          width="80"
          height="80"
        />
        <h3 class="reviews-user-name">Victoria Dobrzhanska</h3>
        <p class="reviews-text">
          I love this chocolate bar. Perfect combination of light crispy wafer,
          covered in a thin layer chocolate.
        </p>
      </li>
      <li class="reviews-card reviews-tablet">
        <img
          class="reviews-images"
          srcset="
            ./images/reviews/nazar.jpg    1x,
            ./images/reviews/nazar@2x.jpg 2x
          "
          src="./images/reviews/nazar.jpg"
          alt="user photo"
          width="80"
          height="80"
        />
        <h3 class="reviews-user-name">Nazar Babenko</h3>
        <p class="reviews-text">
          This chocolate confection is a delight! A delight! The wafer is light
          and crisp, the hazelnut cream is smooth, and the chocolate is good.
        </p>
      </li>
      <li class="reviews-card reviews-desktop">
        <img
          class="reviews-images"
          srcset="
            ./images/reviews/olena.jpg    1x,
            ./images/reviews/olena@2x.jpg 2x
          "
          src="./images/reviews/olena.jpg"
          alt="user photo"
          width="80"
          height="80"
        />
        <h3 class="reviews-user-name">Olena Kampusch</h3>
        <p class="reviews-text">
          Chocolate is a family favourite treat. Love the delicious smooth
          chocolate and the creaminess inside. The wafer is soft but crunchy.
        </p>
      </li>
      <li class="reviews-hidden-item">
        <img
          class="reviews-images"
          srcset="
            ./images/reviews/natalia.jpg    1x,
            ./images/reviews/natalia@2x.jpg 2x
          "
          src="./images/reviews/natalia.jpg"
          alt="user photo"
          width="80"
          height="80"
        />

        <h3 class="reviews-user-name">Natalia Sus</h3>
        <p class="reviews-text">
          The chocolate assortment was delicious. Both dark and milk chocolate
          pieces were smooth and just right on the sweetness level.
        </p>
      </li>
      <li class="reviews-hidden-item">
        <img
          class="reviews-images"
          srcset="
            ./images/reviews/danilo.jpg    1x,
            ./images/reviews/danilo@2x.jpg 2x
          "
          src="./images/reviews/danilo.jpg"
          alt="user photo"
          width="80"
          height="80"
        />

        <h3 class="reviews-user-name">Danilo Nottingham</h3>
        <p class="reviews-text">
          This is delicious. It so rich and flavorful you don&#8217;t need to
          use as many. I love topping an apple with almond butter and these
          chips for a snack.
        </p>
      </li>
      <li class="reviews-hidden-item">
        <img
          class="reviews-images"
          srcset="
            ./images/reviews/irina.jpg    1x,
            ./images/reviews/irina@2x.jpg 2x
          "
          src="./images/reviews/irina.jpg"
          alt="user photo"
          width="80"
          height="80"
        />

        <h3 class="reviews-user-name">Irina Tydnyuk</h3>
        <p class="reviews-text">
          This is simply the best chocolate around, and I'm just thrilled to
          support a local company! Best local chocolate - world class :)
        </p>
      </li>
    </ul>

    <div class="reviews-button-space">
      <button
        class="reviews-button main-button js-open-modal"
        type="button"
        data-modal="2"
      >
        Leave a review
      </button>
    </div>
  </div>
</section>
