<section class="ts-section">
  <div class="container">
    <h2 class="title-second"><span class="title-orange">top</span> sellers</h2>
    <ul class="ts-list list">
      <li class="ts-item">
        <img
          class="ts-img"
          src="../images/top_sellers/first-top-seller-mobile.jpg"
          alt="top_seller1"
        />
        <p class="ts-text">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>

      <li class="ts-item">
        <img
          class="ts-img"
          src="../images/top_sellers/second-top-mobile.jpg"
          alt="top_seller2"
        />
      </li>
      <li class="ts-item ts-item-desktop">
        <img
          class="ts-img"
          src="../images/top_sellers/third-top.jpg"
          alt="top_seller3"
        />
      </li>
    </ul>

    <button type="button" class="main-button ts-btn">Buy now</button>
  </div>
</section>
