<section class="container">
  <h2 class="title-second ts-title">top sellers</h2>
  <ul class="ts-list">
    <li class="ts-item">
      <img class="ts-img" src="" alt="top_seller1" />
    </li>
    <li class="ts-item">
      <img class="ts-img" src="" alt="top_seller2" />
    </li>
    <li class="ts-item ts-item-desktop">
      <img class="ts-img" src="" alt="top_seller3" />
    </li>
  </ul>
  <span class="ts-text">
    Crazy enough chocolate originates from a bean just like the coffee bean
    called Cacao. Cacao has been around for thousands of years and was first
    discovered by the Native American tribe called the Mayans.
  </span>
  <button type="button" class="btn">Buy now</button>
</section>
