<!-- Unique components -->
<section class="container">
  <h2 class="title">
    IT ALL ADDS UP TO ONE EXCEPTIONAL
    <span class="title orange">TASTE</span> SENSATION
  </h2>
  <p class="text">
    At Simply Chocolate, we believe that the secret to exceptional chocolate is
    in the details. From the sourcing of the finest ingredients to the careful
    crafting of each individual piece, every step of our process adds up to one
    exceptional taste sensation.
  </p>
  <ul class="components list">
    <li class="components-item milk-chocolate">
      <div class="components">
        <img class="components-img" src="" alt="chocolate" width="206" />
        <p class="components-name light">MILK CHOCOLATE</p>
        <div class="overlay">
          <p class="components-name">MILK CHOCOLATE</p>
          <span>chocolate</span> <span>the benefits</span>
          <p>
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe, increasingly large amounts are consumed in
            China and Latin America.
          </p>
        </div>
      </div>
    </li>
    <li class="components-item milk">
      <div class="components">
        <img class="components-img" src="" alt="milk" width="206" />
        <p class="components-name">MILK</p>
        <div class="overlay">
          <p class="components-name">MILK</p>
          <span>milk</span> <span>the benefits</span>
          <p>
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe, increasingly large amounts are consumed in
            China and Latin America.
          </p>
        </div>
      </div>
    </li>
    <li class="components-item nuts">
      <div class="components">
        <img class="components-img" src="" alt="nuts" width="206" />
        <p class="components-name light">NUTS</p>
        <div class="overlay">
          <p class="components-name">NUTS</p>
          <span>nuts</span> <span>the benefits</span>
          <p>
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe, increasingly large amounts are consumed in
            China and Latin America.
          </p>
        </div>
      </div>
    </li>
    <li class="components-item corns">
      <div class="components">
        <img class="components-img" src="" alt="corns" width="206" />
        <p class="components-name">SEMI-SWEET CHOCOLATE</p>
        <div class="overlay">
          <p class="components-name">SEMI-SWEET CHOCOLATE</p>
          <span>sweet chocolate</span> <span>the benefits</span>
          <p>
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe, increasingly large amounts are consumed in
            China and Latin America.
          </p>
        </div>
      </div>
    </li>
  </ul>
</section>
